html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}
a:focus {
    outline: none;
}
img{
	border:none;
}
body,html{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3f3f3f;
	margin:0px;
	padding:0px;
	width:100%;
}
a{
	text-decoration:none;
	color:#1885e7;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover,a:focus,a:active{
	text-decoration:underline;
}

h1{
	font-weight:bold;
	font-size:26px;
	color:#096797;
	padding:0px;
	margin:0px;
}
p{
	line-height:20px;
}
#main{
	display:none;
}
#result_loader{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	display:none;
	text-align:center;
	
}
#page_loader{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	text-align:center;
	z-index:9999;
	
}
#page_loader>div{
	position:absolute;
	background-color:#ffffff;
	width:60px;
	height:90px;
	left:50%;
	top:250px;
	margin:-45px 0px 0px -30px;
}
#result_loader>div{
	position:absolute;
	width:60px;
	height:90px;
	left:50%;
	top:250px;
	margin:-45px 0px 0px -30px;
}
#result_loader>div>img{
	outline:5px solid #FFF;
}
#result_loader>h3{
	color:#e81e26;
	margin-top:300px;
}
#dialog_outer{
	background-color:#FFF;
	position:absolute;
	width:100%;
	height:100%;
	display:none;
}
#dialog_inner{
	background-color:#FFF;
	position:absolute;
	width:80%;
	padding:25px 4% 25px 4%;
	border:1px solid #666;
	left:50%;
	margin-left:-43%;
	display:none;
	-webkit-box-shadow: 0px 3px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 14px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 14px 0px rgba(50, 50, 50, 0.75);
}
.dialog_col{
	display:inline-block;
	width:40%;
	vertical-align:top;
}
.dialog_col>img{
	margin-left:16%;
}
#dialog_content{
	line-height:20px;
	padding-right:10px;
	position:relative;
}
#dialog_close{
	position:absolute;
	top:0px;
	
	right:0px;
	font-size:12px;
	font-weight:bold;
	
}
#splash{
	
}
#splash_copy{
	width:230px;
	font-size:13px;
	line-height:21px;
}
#splash_main{
	background-image:url(../images/splash_bg.png);
	background-size: 601px 400px;
	background-repeat:no-repeat;
	height:368px;
	padding:16px;
	border-radius:10px;
	position:relative;
}
#terms{
	font-size:13px;
	position:absolute;
	left:16px;
	bottom:10px;
}
#splash_footer{
	margin-top:4px;
	border:2px solid #ccc;
	padding:16px;
	text-align:left;
	border-radius:10px;
	font-size:13px;
	line-height:18px;
	position:relative;
}
#splash_footer>img{
	margin-right:10px;
	
}
#splash_footer>div{
	position:absolute;
	left:370px;
	top:16px;
	height:95px;
}
#partner_info{
	position:absolute;
	bottom:0px;
	left:0px;
}
#start{
	
}
.page{
	position:absolute;
	width:100%;
}
#page_0 a{
	text-decoration:underline;
}
#page_0 a:hover,#page_0 a:focus{
	text-decoration:none;
}
#r4 a{
	text-decoration:underline;
}
#r4 a:hover,#r4 a:focus{
	text-decoration:none;
}
#page_1,#page_2,#page_3,#page_4{
	margin-top:100px;
}
#mob_header{
	display:none;
}
#header{
	position:absolute;
	display:none;
	background-image:url(../images/heart.png);
	background-size:76px 68px;
	background-repeat:no-repeat;
	background-position:center right;
	width:100%;
}
#header h2{
	font-size:26px;
	font-weight:bold;
	color:#096797;
	margin:20px 0px 0px 20px;
	padding:0px;
}

#header h3{
	font-size:18px;
	font-weight:normal;
	color:#3f3f3f;
	margin:8px 0px 16px 20px;
	padding:0px;
}
h2{
	font-size:26px;
	font-weight:bold;
	color:#096797;
	margin:0px 0px 8px 0px;
	padding:0px;
}
#postcode{
	text-align:center;
	color:#CCCCCC;
}
select{
	width:200px;
	font-family:Arial, Helvetica, sans-serif;
}
#dob_day,#dob_month,#dob_year{
	width:58px;
}
#dob_year{
	width:74px;
}
#dob_row{
	height:55px;
}
#cvd_row{
	height:80px;
}
.units_wrap{
	position:absolute;
	right:30px;
	top:16px;
	width:202px;
}
.units_interface{
	position:absolute;
	top:38px;
	right:0px;
	width:198px;
}
.units_interface a{
	color:#1885e7;
	
	font-size:12px;
	padding:4px 0px 4px 14px;
	text-decoration:none;
	background-image:url(../images/blueArrow.png);
	background-size:9px 10px;
	background-repeat:no-repeat;
	background-position:center left;
}
.units_interface a:hover,.units_interface a:focus ,.units_interface a:active{
	text-decoration:underline;
}
.info_link{
	position:absolute;
	bottom:10px;
	left:18px;
	font-weight:normal !important;
}
.info_link a{
	color:#1885e7;
	
	font-size:12px;
	padding:5px 0px 5px 20px;
	text-decoration:none;
	background-image:url(../images/info.png);
	background-size:16px 16px;
	background-repeat:no-repeat;
	background-position:center left;
}
.info_link a:hover,.info_link a:focus ,.info_link a:active{
	text-decoration:underline;
}
#h_wrap{
	height:60px;
}
#w_wrap{
	height:60px;
}
.form_block{
	position:relative;
	padding:10px;
	margin-bottom:2px;
	background-color:#ededed;
	height:auto;
}
.form_block_warning{
	position:relative;
	padding:16px 16px 16px 46px;
	margin-bottom:2px;
	background-color:#ddedfc;
	background-image:url(../images/warning.png);
	background-size:28px 26px;
	background-repeat:no-repeat;
	background-position:10px 10px;
	height:auto;
	color:#003763;
	font-size:13px;
	line-height:18px;
}
.form_block_row{
	position:relative;
	clear:both;
	height:40px;
}
.form_block input[type="text"],.form_block input[type="number"]{
	width:40px;
	padding:4px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #a9a9a9;
}

.form_block label{
	margin-left:5px;
	margin-right:5px;
	font-weight:bold;
}
.form_block>h3{
	top:26px;
	font-size:15px;
	width:65%;
	
}
.form_block h3{
	font-size:15px;
	position:absolute;
	display:block;
	margin:0px;
	padding:0px;
	left:20px;
	line-height:19px;
}
.form_block>h4{
	top:16px;
	font-size:14px;
	line-height:20px;
	
}
.form_block h4{
	font-size:14px;
	position:absolute;
	display:block;
	margin:8px 0px 0px 0px;
	padding:0px;
	left:20px;
}
.form_block p{
	display:block;
	position:relative;
	text-align:right;
	margin-right:20px;
}
.form_block select{
	padding:4px;
}
.form_btn{
	width:90px;
}
.form_btn>a{
	text-decoration:none;
}
.form_btn>a>div{
	padding:9px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	font-size:15px;
	background-color:#1885e7;
	
	border-radius:8px;
}
.form_btn>a:hover>div,.form_btn>a:focus>div{
	background-color:#136ab9;
}
.form_btn_dull{
	width:90px;
}
.form_btn_dull>a{
	text-decoration:none;
}
.form_btn_dull>a>div{
	padding:9px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	font-size:15px;
	background-color:#999999;
	border-radius:8px;
}
.form_btn_dull>a:hover>div,.form_btn_dull>a:focus>div ,.form_btn_dull>a:active>div{
	background-color:#6b6b6b;
}
.input_label{
	position:absolute;
	font-size:12px;
	color:#898989;
	padding-top:3px;
}
.nhs_radio{
	display:inline-block;
	text-align:right;
}
.nhs_radio>a{
	display:block;
	height:33px;
	text-decoration:none;
	color:#3f3f3f;
	font-weight:bold;
	font-size:14px;
}
.nhs_radio>a>img{
	display:inline-block;
	width:29px;
	height:29px;
	margin-right:4px;
	margin-bottom:-10px;
	
}
.nhs_radio>a>div{
	display:inline-block;
	text-align:left;
	margin-right:4px;
	width:40px;
}
.col_right{
	display:block;
	position:relative;
	text-align:right;
	margin:10px 20px 10px 0px;
}
.select_wrap{
	display:inline-block;
}
#postcode{
	width:80px;
}
#diabetes_data{
	display:none;
	
}
#cholesterol_data{
	display:none;
}
#cholesterol_data .units_interface{
	width:186px;
}
#bp_data{
	display:none;
	
}
#cholesterol_data_alt{
	display:none;
	
}
#bp_data_alt{
	display:none;
	
}
#nav{
	position:absolute;
	padding-top:24px;
	width:100%;
}
#nav .form_btn,#nav .form_btn_dull{
	position:absolute;
}
#dots{
	position:absolute;
	width:100%;
	text-align:center;
}
#dots>img{
	display:inline;
	margin:8px 10px 0px 10px;
}
#back{
	left:0px;
}
#next{
	right:0px;
}
#reset{
	display:none;
	right:0px;
	width:120px;
}
#t_cholesterol_wrap_a,#t_cholesterol_wrap_b,#hdl_cholesterol_wrap_a,#hdl_cholesterol_wrap_b,#sys_bp_wrap{
	position:absolute;
	top:0px;
	right:0px;
	width:187px;
}
#ch_block{
	height:50px;
}
h5{
	font-size:12px;
	margin:0px 0px 0px 5px; 
	padding:0px 0px 0px 0px; 
	display:inline;
}
.result_row{
	width:auto;
	padding:8px;
	margin-bottom:8px;
	position:relative;
	font-size:13px;
}
.result_row .col_right{
	margin:0px;
	padding:0px;
}
#r1{
	background-color:#e81e26; 
	border-radius:8px;
	color:#fff;
}
#r1_heart_age{
	position:absolute;
	right:54px;
	top:3px;
	font-size:98px;
}
#r1_content{
	font-size:13px;
	line-height:21px;
	padding:8px;
	width:50%;
}
#r1_title{
	font-size:24px;
	font-weight:normal;
	padding:8px;
	width:50%;
}
#r3{
	background-color:#fff; 
	border-radius:8px;
	border:3px solid #e81e26;
	text-align:center;
	line-height:24px;
	padding:8px 65px 8px 65px;
	position:relative;
	margin-bottom:26px;
	font-size:15px;
}
#r3>p{
	padding:0px 20px 0px 20px;
}
#r3>div{
	position:absolute;
	left:16px;
	top:16px;
	
}
#r2_content{
	font-size:15px;
	line-height:24px;
	text-align:center;
	
}
#r2{
	color:#3f3f3f;
	padding:5px 16px 8px 16px;
}
#r2_content>p{
	margin:0px 60px 0px 60px;
}
#page_5>h2{
	margin-left:16px;
}
.emphasis{
	color:#e81e26;
	font-weight:bold;
	font-size:1.2em;
}
.close{
	padding:10px;
	background-color:#FFF;
	display:block;
	background-image:url(../images/close1.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:17px 17px;
}
.close img{
	opacity:0;
}
.close:hover img, .close:focus img , .close:active img{
	opacity:1;
}
/*#advice_wrap a:hover, #advice_wrap a:focus , #advice_wrap a:active{
	text-decoration:none;
}
#advice_wrap a:hover>div, #advice_wrap a:focus>div , #advice_wrap a:active>div{
	background-color:#146bba;
}*/
.advice_row{
	position:relative;
	background-color:#ededed;
	padding:16px 8px 2px 60px;
	
}
.advice_row>h3{
	margin:0px;
	padding:0px;
	font-size:18px;
	color:#013864;
	font-weight:normal;
}
.advice_status{
	margin:0px;
	padding:0px;
	font-size:18px;
	color:#013864;
	font-weight:normal;
}
.advice_row>img{
	position:absolute;
	left:0px;
	top:0px;
}
.advice_row>p{
	font-size:13px;
	padding-right:30px;
}
.advice_action_bar{
	background-color:#1885e7;
	padding:15px 8px 8px 10px;
	border-radius:8px;
	height:19px;
	overflow:hidden;
	margin:10px;
}
.advice_action_bar>img{
	margin:0px 5px 0px 3px;
	
}
.advice_action_bar h2{
	margin:-10px 0px 0px 6px;
	padding:0px;
	color:#fff;
	font-size:16px;
	display:inline-block;
}
.advice_status{
	position:absolute;
	left:220px;
	top:16px;
	font-weight:bold;
}
.advice_status>div{
	display:inline-block;
	margin-left:20px;
}
.info_drop_down{
	border:3px solid #1885e7;
	border-top:none;
	margin:-10px 28px 10px 28px;
	height:0px;
	overflow:hidden;
	opacity:0;
	display:none;
	vertical-align:top;
}
.info_item{
	display:inline-block;
	width:161px;
	padding:8px;
	margin:0px;
	vertical-align:top;
}
.info_item a{
	border:2px #ccc solid;
	display:block;
}
.info_item a:hover, .info_item a:focus , .info_item a:active{
	border:2px #1885e7 solid;
}
.info_item img{
	margin:8px;
	width:140px;
	height:90px;
}
.info_item p{
	font-size:13px;
	line-height:18px;
	text-align:left;
}

#r4{
	margin-bottom:-12px;
	padding:16px;
	background-color:#f8fafc;
	border:2px solid #e1e7ed;
	font-size:13px;
	line-height:22px;
}
#r4 h3{
	font-size:18px;
	color:#096797;
	margin:0px 0px 12px 0px;
	padding:0px;
}
#social{
	position:absolute;
	top:0px;
	right:0px;
	font-size:13px;
}
#social a{
	float:right;
	margin:0px 4px 0px 4px;
}
#social a:hover {
	opacity:0.5;
}
#social div{
	height:30px;
	padding:15px 5px 0px 0px;
	float:right;
}
.p_logo_left{
	position:absolute;
	margin-right:20px;
}
.p_logo_right{
	
	margin-left:140px;
}
.p_hr{
	border-bottom:1px solid #666;
	width:100%;
	padding:16px 0px 16px 0px;
}
#life_bar{
	width:100%;
	margin-top:13px;
	background-color:#ededed;
}
#life_bar_fill{
	width:0%;
	background-color:#e81e26;
}
#life_bar_fill img{
	width:100%;
	height:20px;
}
#life_bar_scale{
	width:100%;
	background-color:#FFF;
	border-top:5px solid #585858;
	position:relative;
	height:33px;
}
#life_bar_scale>div{
	position:absolute;
	top:-5px;
	padding-top:8px;
	font-size:12px;
	width:40px;
	margin-left:-20px;
	text-align:center;
	background-image:url(../images/scale_marker.png);
	background-repeat:no-repeat;
	background-position:center top;
}
#life_bar_scale>#lf_40{
	left:0%;
	margin-left:0px;
	text-align:left;
	background-image:none;
}
#lf_50{
	left:16.6%;
}
#lf_60{
	left:33.3%;
}
#lf_70{
	left:50%;
}
#lf_80{
	left:66.6%;
}
#lf_90{
	left:83.2%;
	
}
#life_bar_scale>#lf_100{
	right:0%;
	margin-left:0px;
	text-align:right;
	background-image:none;
}
#more_info{
	display:none;
	background-color:#FFFFFF;
}
#more_info_content{
	display:none;
}
#more_close{
	position:absolute;
	top:3px;
	right:3px;
}
#ch_error{
	position:absolute;
	display:none;
	text-align:center;
	margin-left:-65px;
}
#ch_error_inner{
	background-color:#ef6167;
	color:#fff;
	padding:10px;
	width:160px;
	margin-top:-1px;
}
#footer_img{
	height:90px;
	width:160px;
	float:right;
	margin:0px 0px 20px 20px;
	background-image:url(../images/HC_logo.png);
	background-size:343px 90px;
	background-position:top center;
}
#p3a,#p3b,#p3c{
	height:60px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
		#splash_main{background-image:url(../images/splash_bg@2x.png);}
		#header{background-image:url(../images/heart@2x.png);}
		.units_interface a{background-image:url(../images/blueArrow@2x.png);}
		.info_link a{background-image:url(../images/info@2x.png);}
		.form_block_warning{background-image:url(../images/warning@2x.png);}
		.close{background-image:url(../images/close1@2x.png);}
		#advice_wrap a:hover>div, #advice_wrap a:focus>div ,  #advice_wrap a:active>div{background-color:#1885e7;}
		#footer_img{background-image:url(../images/HC_logo@2x.png);}
}
@media print {
  #life_bar_scale>div{background-image:none;}
  #r3,.advice_wrap,#r1{border:2px solid #999;color:#3f3f3f;}
   .advice_row{border:2px solid #999;color:#3f3f3f;border-radius:16px;margin-bottom:16px;}
  .advice_action_bar,.info_drop_down,#nav{display:none;}
}