html, body {
  font-size:15px;
}
#nav{
	padding-bottom:40px;
}
#shim{
	background-color:#fff;
	width:100%;
}
a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color:#148BE5;
	text-decoration:none;
}
.info_link a {
	font-size:13px;
	font-weight:normal;
	background-size:20px 20px;
	padding:7px 0px 5px 25px;
}
.units_interface a {
	font-size:13px;
	font-weight:normal;
}
.form_block_warning{
	font-size:15px;
	line-height:21px;
}
#mob_header{
	position:absolute;
	background-image:url(../images/heart.png);
	background-size:45px 41px;
	background-repeat:no-repeat;
	background-position:center right;
	border-bottom:3px solid #e81e26;
	width:100%;
}
#mob_header h2{
	font-size:22px;
	font-weight:bold;
	color:#096797;
	padding:14px 12px 4px 12px;
}
h2{
	font-size:22px;
}

.nhs_radio>a>div{
	width:auto;
}
.nhs_radio>a>img{
	width:32px;
	height:32px;
}
#page_1,#page_2,#page_3,#page_4{
	margin-top:100px;
}
#page_5{
	margin-top:50px;
}
.form_block{
	padding-bottom:24px;
}
.form_block select{
	border:1px solid #666;
	background-color:#fff;
	color:#000;
	padding:8px 5px 8px 5px;
}
.form_block input[type="number"]{
	border:1px solid #a9a9a9;
	background-color:#fff;
	color:#000;
	padding:8px 5px 8px 5px;
	font-weight:normal;
	font-size:18px;
	width:50px;
	text-align:center;
}
.form_block input[type="text"]{
	border:1px solid #a9a9a9;
	background-color:#fff;
	color:#000;
	padding:8px 5px 8px 5px;
	font-weight:normal;
	font-size:18px;
}
.form_block_row{
	height:50px;
}
select{
	font-size:16px;
	font-weight:normal;
}
.form_block p{
	text-align:center;
	margin-right:0px;
	margin-top:12px;
}
.form_block h3{
	width:auto;
	position:relative;
	display:block;
	font-size:16px;
	left:0px;
	top:0px;
}
.form_block_row h3{
	position:absolute;
}
.form_block_row p{
	text-align:right;
}
.form_block_row h4{
	width:35%;
	left:0px;
	font-size:15px;
	margin-top:4px;
	
}
.col_right{
	margin-top:12px;
	margin-right:0px;
	text-align:center;
}
#page_1 .col_right{
	
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#dots{
	display:none;
}
#header{
	margin-top:8px;
	background-size:50px 44px;
	background-position:top right;
}
#header h2{
	font-size:22px;
	margin:12px 0px 0px 12px;
}
#header h3{
	display:block;
	font-size:16px;
	text-align:center;
	border-top:3px solid #e81e26;
	margin:14px 0px 0px 0px;
	padding-top:10px;
}
#dob_day,#dob_month,#dob_year{
	width:70px;
}
#dob_year{
	width:90px;
}
.info_link{
	left:10px;
}
#next{
	right:10px;
}
#reset{
	right:10px;
}
#back{
	left:10px;
}

.units_interface{
	top:48px;
	width:214px;
}
.units_wrap{
	width:220px;
}
#nav{
	height:60px;
}
#dialog_outer{
	position:fixed;
}
#dialog_inner{
	position:fixed;
	width:80%;
	margin-left:-45%;
}
#dialog_inner img{
	zoom:0.75;
}
#dialog_content{
	font-size:15px;
	line-height:24px;
}
#dialog_content img{
	display:none;
}
#dialog_content div{
	display:none;
}
.dialog_col{
	display:block !important;
	width:auto;
}
#dialog_close{
	font-size:14px;
}
#r1{
	margin:14px 10px 0px 10px;
}
#r2{
	background-position:bottom center;
	background-size:216px 92px;
}
#r2_content>p{
	margin:8px 0px 0px 0px;
	
}
#r3{
	margin:10px;
	padding:8px;
	line-height:24px;
}
#r3>p{
	padding:0px;
	margin:0px 0px 10px 0px;
}
#r3>div{
	position:relative;
	left:auto;
	top:auto;
}
#r1_title{
	width:auto;
	text-align:center;
}
#r1_content{
	width:auto;
	text-align:center;
}
#r2_content{
	width:auto;
	line-height:24px;
}
#r2_content>p{
	line-height:24px;
}
#r1_heart_age{
	position:relative;
	width:100%;
	padding:0px;
	right:auto;
	top:auto;
	margin:-12px 0px -12px 0px;
}
.advice_row{
	padding-left:16px;
}
.advice_row>p{
	font-size:15px;
	line-height:24px;
	padding-right:6px;	
}
#r3>p{
	line-height:24px;	
}
#r4{
	padding:8px;
	margin:0px 8px 0px 8px;
	font-size:15px;
	line-height:24px;	
}
#r4>h3{
	font-size:18px;
	margin-bottom:6px;
}
.advice_row>img{
	position:relative;
	margin:0px 0px -20px -8px;
}
.advice_row>h3{
	display:inline-block;
	font-size:20px;
}
.advice_status{
	position:relative;
	left:auto;
	top:auto;
	margin-top:18px;
	color:#000;
}
.advice_action_bar{
	text-align:center;
	position:relative;
	height:auto;
	overflow:none;
	padding-top:6px;
	

}
.advice_action_bar h2{
	margin:2px 24px 0px 24px;
	font-size:17px;
}
.advice_action_bar img{
	position:absolute;
	left:12px;
	top:50%;
	margin-top:-7px;
}
.info_drop_down{
	overflow-x: scroll;
	overflow-y:hidden;
    white-space: nowrap;
	margin:-10px 17px 10px 17px;
}
.info_item{
	white-space:normal;
}
#page_5>h2{
	margin:0px;
	padding:16px 0px 16px 0px;
	text-align:center;
	width:100%;
}
#social{
	position:relative;
	top:auto;
	right:auto;
	margin:0px 10px 18px 0px;
	padding-top:40px;
	text-align:center;
	
}
#social a{
	float:none;
	padding:7px;
}
#social div{
	float:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
}
.form_btn_dull>a:hover>div,.form_btn_dull>a:focus>div{
	background-color:#999999;
}
.form_btn>a:hover>div,.form_btn>a:focus>div{
	background-color:#1885e7;
}
.close:hover img, .close:focus img{
	opacity:0.5;
}
#advice_wrap a:hover, #advice_wrap a:focus{
	text-decoration:underline;
}
#advice_wrap a:hover>div, #advice_wrap a:focus>div{
	background-color:#1885e7;
}
#dob_row{
	height:auto;
}
#cvd_row{
	height:auto;
}
a:focus {
    decoration: none;
}
h5{
	font-size:14px;
}
#t_cholesterol_wrap_a,#t_cholesterol_wrap_b,#hdl_cholesterol_wrap_a,#hdl_cholesterol_wrap_b,#sys_bp_wrap{
	width:60%;
}
#cholesterol_data .units_interface{
	width:98%;
	top:54px;
}
#ch_block{
	height:60px;
}
.form_block_warning{
	padding:46px 16px 16px 16px;
	background-position:center 10px;
}
#footer_img{
	width:100%;
	margin:0px 0px 14px 0px;
}
#p3a,#p3b,#p3c{
	height:auto;
}
