<div>
  <div class = "heartage-panel-dark">
    <h2>HOW HEALTHY IS YOUR <div><span role="text">HEART</span> ?</div></h2>
    <p>{{splash}}</p>
    <div class="heartage-center">
      <button class="heartage-button" id = "heartage-start-btn" type="submit"> Start </button>
    </div>
  </div>
  <div class = "heartage-panel-light">
    <div> <img src="images/bhf.png" alt=""/>
      <p>{{credit}}</p>
    </div>
    <details>
      <summary><span> Find out more about our partners and this tool</span></summary>
      <div> {{P1}}{{P2}}{{P3}}{{P5}}<div class="heartage-col-full">{{full_credits}}</div> </div>
    </details>
  </div>
</div>
